<main role="main">
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<% @ad_boards.each do |board|%>
					<div class="col-md-4">
					  <div class="card mb-4 box-shadow">
					    <div class="card-body">
					      <p class="card-text">
					      	<%= board.adds.valid_adds.first.try(:name) %>
					      </p>
					      <div class="d-flex justify-content-between align-items-center">
					        <small class="text-muted">9 mins</small>
					      </div>
					    </div>
					    <%= link_to "Create add",new_add_path(board_id: board.id) %>
					  </div>
					</div>
				<% end %>
			</div>
		<div>
	</div>	
</main>
